$purple: #9961A9;

$black: #3D4954;
$white: #FFF;

$grey-dark: #EBECEE;
$grey-darker: #D8DBDD;
$grey-darkest: #9A9C9F;

$grey: #8CA2AD;
$grey-light: #F8F8F8;

$red: #F10D3D;

$color-main: $purple;

$color-header: $grey-dark;
$color-navigation: $white;
$color-page: $grey-light;

$color-border: $grey-darker;
$color-border-light: $grey-dark;
$color-border-active: $black;

$color-icon: $grey-darkest;

$color-input-text: $grey-darkest;
$color-input-backgroud: $white;
$color-input-error: $red;
$color-input-placeholder: $grey-darker;
$color-input-addon: $grey-darkest;

$color-error: $red;

$color-text: $black;

$color-navigation-text: $grey-darkest;
$color-navigation-active: $color-main;

$color-active: $color-main;

$color-button: $color-main;
$color-button-text: $white;

$color-button-inverted: $white;
$color-button-inverted-text: $grey;
